/* imskyyc */

.navbar-container {
  width: 100%;
  height: 10vh;

  background-color: rgba(45, 45, 55, 0.5);
  display: flex;
  justify-content: center;
  border-bottom: 0.15vh solid white;
}

.navbar-buttons {
  position: fixed;
  top: 6.25vh;
  display: flex;
  justify-content: right;
}

.navbar-buttons ul {
  float: left;
  text-align: center;
}

.navbar-buttons ul li {
  list-style: none;
  display: inline-block;
}

.navbar-buttons ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0 5px;
}

.navbar-buttons ul li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.15vh;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.navbar-buttons ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-container img {
  margin-top: 1vh;
  height: 50%;
  border-radius: 100%;
}

/* Dynamic Width Check */
@media (max-width: 768px) {
  .navbar-buttons {
    display: none;
  }

  .navbar-container img {
    margin-top: 1.25vh;
    height: 75%;
  }
}
